.planet-container {
    position: relative;
    width: 694px;
    height: 694px;
    margin: 0 auto;
    /* background: #000; */
    /* border-radius: 50%; */
    overflow: hidden;
    border: 1px solid #000;
}

.orbit {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    border: 1px dashed #000;
}

.orbit1 {
    width: 464px;
    height: 464px;
}

.orbit2 {
    width: 560px;
    height: 560px;
}

.orbit3 {
    width: 694px;
    height: 694px;
}

.planet {
    position: absolute;
    top: 50%;
    left: 0;
    width: 20px;
    height: 20px;
    background: rgb(54, 133, 223);
    border-radius: 50%;
    /* transform: translate(-50%, -50%); */
    /* transform-origin: 50px 0;
    animation: orbit 5s linear infinite; */
}
/* .planet1 {
    transform-origin: 75px 0;
    animation-duration: 7s;
}
.planet2 {
    transform-origin: 75px 0;
    animation-duration: 7s;
}

.planet3 {
    transform-origin: 100px 0;
    animation-duration: 9s;
} */

/* @keyframes orbit {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.planet:hover {
    cursor: pointer;
    animation-play-state: paused;
} */
